<div class="container-wrapper">
  <a *ngIf="currpage" class="btn btn-top-open header_part" data-toggle="collapse" href="#topbar-add" role="button" aria-expanded="true" aria-controls="topbar-add"></a>
  <div *ngIf="currpage" class="home-page-slider collapse show header_part" id="topbar-add">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-7 m-auto">
          <div class="home-page-wrapper">
            <div class="logo-slider text-center">
              <div>
                <a class="navbar-brand topnavbar-logo" [routerLink]="['/']">
                  <img src="../../assets/images/logo.svg" class="img-fluid">
                </a>
              </div>

            </div>

            <div class="slider-text">
              <h1>Crypto Research Platform leveraging Human and Machine intelligence</h1>
              <h3>Precisely know
                <span>What</span> coins to buy
                <span>when</span> to buy and
                <span>how much</span> to buy</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="collapse"></div>
  <div class="top-header" *ngIf="globaldata">
    <div class="coinvalue-box">
      <div class="value-list-box">
        <h5 class="coinlist-name"> {{base_sign}}{{globaldata.quotes.USD.total_market_cap * base_price | number : '1.0-2'}} </h5>
        <span class="double-dots">:</span>
        <span class="coinlis-value"> Market Cap </span>
      </div>
    </div>
  
    <div class="coinvalue-box">
      <div class="value-list-box">
        <h5 class="coinlist-name"> {{globaldata.active_cryptocurrencies}} </h5>
        <span class="double-dots">:</span>
        <span class="coinlis-value"> Coin Tracked</span>
      </div>
    </div>
  
    <div class="coinvalue-box">
      <div class="value-list-box">
        <h5 class="coinlist-name"> 93 </h5>
        <span class="double-dots">:</span>
        <span class="coinlis-value"> Exchanges </span>
      </div>
    </div>
  
    <div class="coinvalue-box">
      <div class="value-list-box">
        <h5 class="coinlist-name"> 26.3 TB </h5>
        <span class="double-dots">:</span>
        <span class="coinlis-value"> Data Points </span>
      </div>
    </div>
  
    <div class="coinvalue-box">
      <div class="value-list-box">
        <h5 class="coinlist-name"> 7200+ </h5>
        <span class="double-dots">:</span>
        <span class="coinlis-value"> Research Hours </span>
      </div>
    </div>
  </div>

  <header id="header">
    <div class="header">
      <nav class="navbar navbar-expand-lg white-shades-bg">
        <div>
          <a class="navbar-brand navbar-logo" [routerLink]="['/']">
            <img src="../../assets/images/logo.svg" class="img-fluid">
          </a>
        </div>
        <div class="togger-icon">
          <button class="search-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#homeSearch" aria-controls="homeSearch"
            aria-expanded="false" aria-label="Toggle Search">
            <span class="search-icon"><img class="img-fluid" src="assets/images/crypto-currency/search.svg" /></span>
          </button>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><img class="img-fluid" src="assets/images/crypto-currency/menu.svg" /></span>
          </button>
        </div>


        <div class="collapse navbar-collapse justify-content-end custom-navbar" id="navbar">

          <button class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-close-icon"><img class="img-fluid" src="assets/images/crypto-currency/close.svg" /></span>
          </button>
          <ul class="navbar-nav dropdown">
            <li class="nav-item">
              <span class="dropdown-toggle" id="market-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <a href="javascript:void(0)" class="nav-link">SCAN
                  <i class="fas fa-angle-down"></i>
                </a>
              </span>
              <div class="dropdown-menu" aria-labelledby="market-dropdown">
                <div class="submenu left-menu">
                  <h4>Overviews</h4>
                  <ul class="list-unstyled">
                    <li>
                      <a href="#" class="active">
                        <span class="sub-menu-title">Market Overview</span>
                        <span class="subtitle">Watch updated crypto prices, market caps, volumes.</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        <span class="sub-menu-title">Global Market Chart</span>
                        <span class="subtitle">Historical market cap and volume for the entire market.</span>
                      </a>
                    </li>


                    <li>
                      <a href="#">
                        <span class="sub-menu-title">Top Gainers</span>
                        <span class="subtitle">Best performing coins over the last 24h.</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        <span class="sub-menu-title">Top Losers</span>
                        <span class="subtitle">Worst performing coins over the last 24h.</span>
                      </a>
                    </li>

                    <li>
                      <a href="javascript:void(0)" [routerLink]="['/advance-scanner']">
                      <!--<a href="javascript:void(0)" data-toggle="modal" data-target="#advanded-scanner">-->
                        <span class="sub-menu-title">Advance Scanner</span>
                        <span class="subtitle">Discover the latest coins listed on Greatness by GENESIS.</span>
                      </a>
                    </li>
                  </ul>
                </div>

                <div class="submenu right-menu">
                  <h4>Categories</h4>
                  <ul class="list-unstyled">
                    <ng-container *ngFor="let cat of categorylist">
                      <li class="" *ngIf="cat.is_main == 1">
                        <a [routerLink]=" ['/category/', cat.category_slug]">{{cat.category_name}}</a>
                      </li>
                    </ng-container>
                  </ul>
                </div>
              </div>
            </li>
            <li class=" nav-item">
              <span class="dropdown-toggle" id="analysis-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <a href="javascript:void(0)" class="nav-link">ANALYSIS
                  <i class="fas fa-angle-down"></i>
                </a>
              </span>
              <div class="dropdown-menu" aria-labelledby="analysis-dropdown">
                <div class="submenu left-menu">
                  <h4>Methods</h4>
                  <ul class="list-unstyled">
                    <li>
                      <a href="#" class="active">
                        <span class="sub-menu-title">Fundamental Analysis</span>
                        <span class="subtitle">Fundamental analysis based on our Algorithmic scores.</span>
                      </a>
                    </li>

                    <li>
                      <a href="#global">
                        <span class="sub-menu-title">Investment Analysis</span>
                        <span class="subtitle">Hhistorical performance and stats for all cryptocurrencies.</span>
                      </a>
                    </li>

                    <li>
                      <a href="#newly-added">
                        <span class="sub-menu-title">GitHub Analysis</span>
                        <span class="subtitle">Development activity for over 950 open source cryptocurrencies.</span>
                      </a>
                    </li>
                  </ul>
                </div>

                <div class="submenu left-menu">
                  <h4>Tools</h4>
                  <ul class="list-unstyled">
                    <li>
                      <a href="#" class="active">
                        <span class="sub-menu-title">Pump & Dump updates</span>
                        <span class="subtitle">Live pump and dump information, Which cryptos show sudden spikes?</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        <span class="sub-menu-title">Arbitrage opportunities</span>
                        <span class="subtitle">Listing all arbitrage opportunities from 50USD to 50+ BTC.</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        <span class="sub-menu-title">Crypto Questions</span>
                        <span class="subtitle">Answering most of your crypto questions.</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class=" nav-item">
              <span class="dropdown-toggle" id="analysis-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <a href="#" class="nav-link">ALLOCATION</a>
              </span>
            </li>
          </ul>
        </div>
        <div class="select-currancy">
          <select class="selectpicker form-control d-none" id="sel_curr">
            <ng-container *ngFor="let curr of currencylist">
              <option value="{{curr.CURR}}">{{curr.CURR}}</option>
            </ng-container>
          </select>
        </div>
        <div id="homeSearch" class="homeSearch">
          <button class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#homeSearch" aria-controls="homeSearch"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-close-icon"><img class="img-fluid" src="assets/images/crypto-currency/close.svg" /></span>
          </button>
          <div class="home-search small-home-search">
            <ng-template #sc let-s="result" let-c="term" id="allcoinsearch">
              <div [attr.value]="s.symbol" class="">
                <a [routerLink]=" ['/coins/', s.coin_id]">
                  <img src="assets/images/crypto-currency/{{s.symbol | lowercase}}.svg" (error)="errorHandler($event,s.symbol)" class="img-fluid" style="width:25px;">
                  <span>
                    <span class="coin_name">{{s.name}} ({{s.symbol}})</span>
                  </span>
                </a>
              </div>
            </ng-template>
            <input id="typeahead-template-new" type="text" class="form-control search-input" [(ngModel)]="model" name="search" [ngbTypeahead]="search" [resultTemplate]="sc" [inputFormatter]="formattersearch" placeholder="Search..."
            (keydown)="keyDownFunction($event)">
            <button class="btn home-serch-btn">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </nav>
    </div>
  </header>