<footer>
  <div class="under-row">
    <div class="bottom-footer">
      <div class="cust-container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="copy-right">
              <span>Copyright © 2017-2018</span>
              <span class="footer_logo">
                <img src="../../assets/images/white-logo.svg">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>