<section>
    <div class="cust-container" *ngIf="coin">
        <div class="under-row">
            <div class="single-page-contant">
                <div class="coin-detaile">
                    <div class="single-coin-box coin-name-icon">
                        <div class="single-coin-icon">
                            <img class="img-fluid" src="../../assets/images/crypto-currency/{{coin.symbol | lowercase}}.svg" (error)="errorHandler($event,coin.symbol)">
                        </div>

                        <div class="single-coin-name">
                            <h3>{{coin.name}}</h3>
                            <span class="crypto-symbol">({{coin.symbol}})</span>
                        </div>
                    </div>

                    <div class="single-coin-box coin-price">
                        <div class="currency-price">
                            <h4>{{base_sign}}{{coin.price_usd * base_price | number : '1.0-2'}}</h4>
                            <span class="value-perce" [ngClass]="coin.change_24h > 0 ? 'text-green' : 'text-red'">( {{coin.change_24h}}%)</span>
                        </div>
                        <div class="crypto-price">
                            <h5>{{coin.price_btc}} BTC</h5>
                            <!-- <span class="value-perce" [ngClass]="coin.percent_change_7d > 0 ? 'text-green' : 'text-red'">( {{coin.percent_change_7d}}%)</span> -->
                        </div>
                    </div>

                    <div class="single-coin-box coin-marketcap">
                        <label>Market Cap</label>
                        <h5>{{base_sign}}{{coin.marketcap_usd * base_price | number : '1.0-2'}}</h5>
                    </div>

                    <div class="single-coin-box coin-marketcap">
                        <label>24h Vol</label>
                        <h5>{{base_sign}}{{coin['volume24h_usd'] * base_price | number : '1.0-2'}}</h5>
                    </div>

                    <div class="single-coin-box coin-marketcap">
                        <label>GQ
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="GQ"></i>
                        </label>
                        <h5>{{coin.algo_score | number : '1.0'}}(#19)</h5>
                    </div>
                </div>

                <div class="single-coin-tabs">
                    <ul class="nav nav-tabs mb-0" id="nav-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="nav-overview-tab" data-toggle="pill" href="#overview" role="tab" aria-controls="overview"
                                aria-selected="true">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-team-tab" data-toggle="pill" href="#team" role="tab" aria-controls="team" aria-selected="false">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-technology-tab" data-toggle="pill" href="#technology" role="tab" aria-controls="technology" aria-selected="false">Technology</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-theory-tab" data-toggle="pill" href="#theory" role="tab" aria-controls="theory" aria-selected="false">Theory</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-traction-tab" data-toggle="pill" href="#traction" role="tab" aria-controls="traction" aria-selected="false">Traction</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-tam-tab" data-toggle="pill" href="#tam" role="tab" aria-controls="tam" aria-selected="false">TAM</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-token-tab" data-toggle="pill" href="#token" role="tab" aria-controls="token" aria-selected="false">Token</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-timing-tab" data-toggle="pill" href="#timing" role="tab" aria-controls="timing" aria-selected="false">Timing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-transfomative-tab" data-toggle="pill" href="#transfomative" role="tab" aria-controls="transfomative"
                                aria-selected="false">Transfomative</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="tab-box">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="card">
                                            <div class="card-detaile">
                                                <h3 class="card-title">Chart</h3>
                                                <div class="card-chart">
                                                    <div [chart]="chart"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="card">
                                            <div class="card-detaile">
                                                <h3 class="card-title">GQ: {{coin.algo_score | number : '1.0'}}(#19)</h3>
                                                <div class="card-chart">
                                                    <div [chart]="spiderchart"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                                <div class="card card-fix">
                                                    <div class="card-detaile">
                                                        <h3 class="card-title">Team</h3>
                                                    </div>
                                    
                                                    <div class="single-item-box" *ngIf="ceodata">
                                                        <ul class="list-unstyled">
                                                            <li>
                                                                <div class="item-child">
                                                                    <div class="item-head">
                                                                        <h6>CEO Name</h6>
                                                                    </div>
                                                                    <span class="item-price">{{ceodata.ceo_name}}</span>
                                                                </div>
                                                            </li>
                                    
                                                            <li>
                                                                <div class="item-child">
                                                                    <div class="item-head">
                                                                        <h6>CEO Linkedin URL</h6>
                                                                    </div>
                                                                    <span class="item-price" *ngIf="ceodata.ceo_linkedin_url == '' || ceodata.ceo_linkedin_url == 'n/a' || ceodata.ceo_linkedin_url == 'no'">{{ceodata.ceo_linkedin_url}}
                                                                    </span>
                                                                    <span class="item-price" *ngIf="ceodata.ceo_linkedin_url != '' && ceodata.ceo_linkedin_url != 'n/a' && ceodata.ceo_linkedin_url != 'no'">
                                                                        <a target="_blank" href="{{ceodata.ceo_linkedin_url}}" class="btn btn-primary">Linkedin</a>
                                                                    </span>
                                                                </div>
                                                            </li>
                                    
                                                            <li>
                                                                <div class="item-child">
                                                                    <div class="item-head">
                                                                        <h6>CTO Name</h6>
                                                                    </div>
                                                                    <span class="item-price">{{ceodata.cto_name}}</span>
                                                                </div>
                                                            </li>
                                    
                                                            <li>
                                                                <div class="item-child">
                                                                    <div class="item-head">
                                                                        <h6>CTO Linkedin URL</h6>
                                                                    </div>
                                                                    <span class="item-price" *ngIf="ceodata.cto_linkedin_url == '' || ceodata.cto_linkedin_url == 'n/a' || ceodata.cto_linkedin_url == 'no'">{{ceodata.cto_linkedin_url}}
                                                                    </span>
                                                                    <span class="item-price" *ngIf="ceodata.cto_linkedin_url != '' && ceodata.cto_linkedin_url != 'n/a' && ceodata.cto_linkedin_url != 'no'">
                                                                        <a target="_blank" href="{{ceodata.cto_linkedin_url}}" class="btn btn-primary">Linkedin</a>
                                                                    </span>
                                                                </div>
                                                            </li>
                                    
                                                            <li>
                                                                <div class="item-child">
                                                                    <div class="item-head">
                                                                        <h6>CTO Github URL</h6>
                                                                    </div>
                                                                    <span class="item-price" *ngIf="ceodata.cto_github_url == '' || ceodata.cto_github_url == 'n/a' || ceodata.cto_github_url == 'no'">{{ceodata.cto_github_url}}
                                                                    </span>
                                                                    <span class="item-price" *ngIf="ceodata.cto_github_url != '' && ceodata.cto_github_url != 'n/a' && ceodata.cto_github_url != 'no'">
                                                                        <a target="_blank" href="{{ceodata.cto_github_url}}" class="btn btn-primary">Github</a>
                                                                    </span>
                                                                </div>
                                                            </li>
                                    
                                                            <li>
                                                                <div class="item-child">
                                                                    <div class="item-head">
                                                                        <h6>Team Avg. Age</h6>
                                                                    </div>
                                                                    <span class="item-price">{{ceodata.team_age_avg}}</span>
                                                                </div>
                                                            </li>
                                    
                                                            <li>
                                                                <div class="item-child">
                                                                    <div class="item-head">
                                                                        <h6>Team Dev. Size</h6>
                                                                    </div>
                                                                    <span class="item-price">{{ceodata.team_dev_size}}</span>
                                                                </div>
                                                            </li>
                                    
                                                            <li>
                                                                <div class="item-child">
                                                                    <div class="item-head">
                                                                        <h6>Team Size</h6>
                                                                    </div>
                                                                    <span class="item-price">{{ceodata.team_size_total}}</span>
                                                                </div>
                                                            </li>
                                    
                                                            <li>
                                                                <div class="item-child">
                                                                    <div class="item-head">
                                                                        <h6>Team Mkt. Sales Size</h6>
                                                                    </div>
                                                                    <span class="item-price">{{ceodata.team_mkt_sales_size}}</span>
                                                                </div>
                                                            </li>
                                    
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                    
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                                <div class="card card-fix">
                                                    <div class="card-detaile">
                                                        <h3 class="card-title">Theoritical</h3>
                                                    </div>
                                    
                                                    <div class="single-item-box">
                                                    </div>
                                                </div>
                                            </div>
                                    
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                                <div class="card card-fix">
                                                    <div class="card-detaile">
                                                        <h3 class="card-title">Total Addressable</h3>
                                                    </div>
                                    
                                                    <div class="single-item-box">
                                                    </div>
                                                </div>
                                            </div>
                                    
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                                <div class="card card-fix">
                                                    <div class="card-detaile">
                                                        <h3 class="card-title">Technology</h3>
                                                    </div>
                                    
                                                    <div class="single-item-box">
                                                        <ul class="list-unstyled">
                                                            <li>
                                                                <div class="item-child">
                                                                    <div class="item-head">
                                                                        <h6>Product development status (i.e. stage)</h6>
                                                                    </div>
                                                                    <span class="item-point">50</span>
                                                                </div>
                                                            </li>
                                    
                                                            <li>
                                                                <div class="item-child">
                                                                    <div class="item-head">
                                                                        <h6>Have they open sourced their code?</h6>
                                                                    </div>
                                                                    <span class="item-point">20</span>
                                                                </div>
                                                            </li>
                                    
                                                            <li>
                                                                <div class="item-child">
                                                                    <div class="item-head">
                                                                        <h6>Have they published a Product roadmap?</h6>
                                                                    </div>
                                                                    <span class="item-point">5</span>
                                                                </div>
                                                            </li>
                                    
                                                            <li>
                                                                <div class="item-child">
                                                                    <div class="item-head">
                                                                        <h6>Is their Product roadmap up to date?</h6>
                                                                    </div>
                                                                    <span class="item-point">5</span>
                                                                </div>
                                                            </li>
                                    
                                                            <li>
                                                                <div class="item-child">
                                                                    <div class="item-head">
                                                                        <h6>Product age (Today’s date - Release date)</h6>
                                                                    </div>
                                                                    <span class="item-point">10</span>
                                                                </div>
                                                            </li>
                                    
                                                            <li>
                                                                <div class="item-child">
                                                                    <div class="item-head">
                                                                        <h6>Have they published a Whitepaper?</h6>
                                                                    </div>
                                                                    <span class="item-point">10</span>
                                                                </div>
                                                            </li>
                                    
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                    
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                                <div class="card card-fix">
                                                    <div class="card-detaile">
                                                        <h3 class="card-title">Traction</h3>
                                                    </div>
                                    
                                                    <div class="single-item-box">
                                                        <ul class="list-unstyled">
                                                            <li>
                                                                <div class="item-child">
                                                                    <div class="item-head">
                                                                        <h6>Total community size compared to other coins</h6>
                                    
                                                                        <p>Facebook, Twitter, YouTube, Reddit</p>
                                                                    </div>
                                                                    <span class="item-point">100</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                    
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                                <div class="card card-fix">
                                                    <div class="card-detaile">
                                                        <h3 class="card-title">Transformative</h3>
                                                    </div>
                                    
                                                    <div class="single-item-box">
                                                    </div>
                                                </div>
                                            </div>
                                    
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                                <div class="card card-fix">
                                                    <div class="card-detaile">
                                                        <h3 class="card-title">Token Economics</h3>
                                                        <!-- <h3 class="card-title">Fundamentals</h3> -->
                                                    </div>
                                    
                                                    <div class="single-item-box">
                                                        <ul class="list-unstyled">
                                                            <li>
                                                                <div class="item-child">
                                                                    <div class="item-head">
                                                                        <h6>Circulating supply</h6>
                                                                    </div>
                                                                    <span class="item-price">{{coin.circulating_supply | number : '1.0-2'}} (%)</span>
                                                                </div>
                                                            </li>
                                    
                                                            <li>
                                                                <div class="item-child">
                                                                    <div class="item-head">
                                                                        <h6>Total supply</h6>
                                                                    </div>
                                                                    <span class="item-price">{{coin.total_supply | number : '1.0-2'}}</span>
                                                                </div>
                                                            </li>
                                    
                                                            <li>
                                                                <div class="item-child">
                                                                    <div class="item-head">
                                                                        <h6>Max supply</h6>
                                                                    </div>
                                                                    <span class="item-price">{{coin.max_supply | number : '1.0-2'}}</span>
                                                                </div>
                                                            </li>
                                    
                                                            <li>
                                                                <div class="item-child">
                                                                    <div class="item-head">
                                                                        <h6>Product status</h6>
                                                                    </div>
                                                                    <span class="item-price">{{coin.product_status}}</span>
                                                                </div>
                                                            </li>
                                    
                                                            <li>
                                                                <div class="item-child">
                                                                    <div class="item-head">
                                                                        <h6>Org. structure</h6>
                                                                    </div>
                                                                    <span class="item-price">{{coin.org_structure}}</span>
                                                                </div>
                                                            </li>
                                    
                                                            <li>
                                                                <div class="item-child">
                                                                    <div class="item-head">
                                                                        <h6>Consensus method</h6>
                                                                    </div>
                                                                    <span class="item-price" style="margin-left: 10%">{{coin.consensus_method}}</span>
                                                                </div>
                                                            </li>
                                    
                                                            <li>
                                                                <div class="item-child">
                                                                    <div class="item-head">
                                                                        <h6>Algorithm</h6>
                                                                    </div>
                                                                    <span class="item-price">{{coin.algorithm}}</span>
                                                                </div>
                                                            </li>
                                    
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                    
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                                <div class="card card-fix">
                                                    <div class="card-detaile">
                                                        <h3 class="card-title">Timing</h3>
                                                    </div>
                                    
                                                    <div class="single-item-box">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="nav-team-tab">

                        </div>

                        <div class="tab-pane fade" id="technology" role="tabpanel" aria-labelledby="nav-technology-tab">

                        </div>

                        <div class="tab-pane fade" id="theory" role="tabpanel" aria-labelledby="nav-theory-tab">

                        </div>

                        <div class="tab-pane fade" id="traction" role="tabpanel" aria-labelledby="nav-traction-tab">

                        </div>

                        <div class="tab-pane fade" id="tam" role="tabpanel" aria-labelledby="nav-tam-tab">

                        </div>

                        <div class="tab-pane fade" id="token" role="tabpanel" aria-labelledby="nav-token-tab">

                        </div>

                        <div class="tab-pane fade" id="timing" role="tabpanel" aria-labelledby="nav-timing-tab">

                        </div>

                        <div class="tab-pane fade" id="transfomative" role="tabpanel" aria-labelledby="nav-transfomative-tab">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
