<section>
    <div class="cust-container" *ngIf="coin">
        <div class="under-row">
            <div class="single-page-contant">
                <div class="coin-detaile">
                    <div class="single-coin-box coin-name-icon">
                        <div class="single-coin-icon">
                            <img class="img-fluid" src="../../assets/images/crypto-currency/{{coin.symbol | lowercase}}.svg" (error)="errorHandler($event,coin.symbol)">
                        </div>

                        <div class="single-coin-name">
                            <h3>{{coin.name}}</h3>
                            <span class="crypto-symbol">({{coin.symbol}})</span>
                        </div>
                    </div>

                    <div class="single-coin-box coin-price">
                        <div class="currency-price">
                            <h4>${{coin.price_usd | number : '1.0-2'}}</h4>
                            <span class="value-perce" [ngClass]="coin.change_24h > 0 ? 'text-green' : 'text-red'">( {{coin.change_24h}}%)</span>
                        </div>
                        <div class="crypto-price">
                            <h5>{{coin.price_btc}} BTC</h5>
                            <!-- <span class="value-perce" [ngClass]="coin.percent_change_7d > 0 ? 'text-green' : 'text-red'">( {{coin.percent_change_7d}}%)</span> -->
                        </div>
                    </div>

                    <div class="single-coin-box coin-marketcap">
                        <label>Market Cap</label>
                        <h5>${{coin.marketcap_usd | number : '1.0-2'}}</h5>
                    </div>

                    <div class="single-coin-box coin-marketcap">
                        <label>24h Vol</label>
                        <h5>${{coin['volume24h_usd'] | number : '1.0-2'}}</h5>
                    </div>

                    <div class="single-coin-box coin-marketcap">
                        <label>GQ
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="GQ"></i>
                        </label>
                        <h5>{{coin.algo_score | number : '1.0'}}(#19)</h5>
                    </div>
                </div>

                <div class="single-coin-tabs">
                    <ul class="nav nav-tabs mb-0" id="nav-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="nav-overview-tab" data-toggle="pill" href="#overview" role="tab" aria-controls="overview"
                                aria-selected="true">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-team-tab" data-toggle="pill" href="#team" role="tab" aria-controls="team" aria-selected="false">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-technology-tab" data-toggle="pill" href="#technology" role="tab" aria-controls="technology" aria-selected="false">Technology</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-theory-tab" data-toggle="pill" href="#theory" role="tab" aria-controls="theory" aria-selected="false">Theory</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-traction-tab" data-toggle="pill" href="#traction" role="tab" aria-controls="traction" aria-selected="false">Traction</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-tam-tab" data-toggle="pill" href="#tam" role="tab" aria-controls="tam" aria-selected="false">TAM</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-token-tab" data-toggle="pill" href="#token" role="tab" aria-controls="token" aria-selected="false">Token</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-timing-tab" data-toggle="pill" href="#timing" role="tab" aria-controls="timing" aria-selected="false">Timing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-transfomative-tab" data-toggle="pill" href="#transfomative" role="tab" aria-controls="transfomative"
                                aria-selected="false">Transfomative</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="tab-box">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="card">
                                            <div class="card-detaile">
                                                <h3 class="card-title">Chart</h3>
                                                <div class="card-chart">
                                                    <div [chart]="chart"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="card">
                                            <div class="card-detaile">
                                                <h3 class="card-title">GQ: {{coin.algo_score | number : '1.0'}}(#19)</h3>
                                                <div class="card-chart">
                                                    <div [chart]="spiderchart"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                        <div class="card">
                                            <div class="card-detaile">
                                                <h3 class="card-title">Team</h3>

                                                <div class="team-box">
                                                    <ul class="list-unstyled">
                                                        <li>
                                                            <div class="team-child">
                                                                <span class="team-avtar">
                                                                    <img src="../../assets/images/avtar-1.jpg" class="img-fluid">
                                                                </span>

                                                                <div class="team-mem-name">
                                                                    <h3>Jame Smith</h3>
                                                                    <span class="memb-post">Co-Founder</span>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="team-child">
                                                                <span class="team-avtar">
                                                                    <img src="../../assets/images/avtar-3.jpg" class="img-fluid">
                                                                </span>

                                                                <div class="team-mem-name">
                                                                    <h3>Myke Hurley</h3>
                                                                    <span class="memb-post">Co-Founder</span>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="team-child">
                                                                <span class="team-avtar">
                                                                    <img src="../../assets/images/avtar-2.jpg" class="img-fluid">
                                                                </span>

                                                                <div class="team-mem-name">
                                                                    <h3>Chistopher Brown</h3>
                                                                    <span class="memb-post">CEO</span>
                                                                </div>
                                                            </div>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                        <div class="card">
                                            <div class="card-detaile">
                                                <h3 class="card-title">Theoritical</h3>
                                            </div>

                                            <div class="single-item-box">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                        <div class="card">
                                            <div class="card-detaile">
                                                <h3 class="card-title">Total Addressable</h3>
                                            </div>

                                            <div class="single-item-box">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                        <div class="card">
                                            <div class="card-detaile">
                                                <h3 class="card-title">Technology</h3>
                                            </div>

                                            <div class="single-item-box">
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <div class="item-child">
                                                            <div class="item-head">
                                                                <h6>Product development status (i.e. stage)</h6>
                                                            </div>
                                                            <span class="item-point">50</span>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="item-child">
                                                            <div class="item-head">
                                                                <h6>Have they open sourced their code?</h6>
                                                            </div>
                                                            <span class="item-point">20</span>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="item-child">
                                                            <div class="item-head">
                                                                <h6>Have they published a Product roadmap?</h6>
                                                            </div>
                                                            <span class="item-point">5</span>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="item-child">
                                                            <div class="item-head">
                                                                <h6>Is their Product roadmap up to date?</h6>
                                                            </div>
                                                            <span class="item-point">5</span>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="item-child">
                                                            <div class="item-head">
                                                                <h6>Product age (Today’s date - Release date)</h6>
                                                            </div>
                                                            <span class="item-point">10</span>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="item-child">
                                                            <div class="item-head">
                                                                <h6>Have they published a Whitepaper?</h6>
                                                            </div>
                                                            <span class="item-point">10</span>
                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                        <div class="card">
                                            <div class="card-detaile">
                                                <h3 class="card-title">Traction</h3>
                                            </div>

                                            <div class="single-item-box">
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <div class="item-child">
                                                            <div class="item-head">
                                                                <h6>Total community size compared to other coins</h6>

                                                                <p>Facebook, Twitter, YouTube, Reddit</p>
                                                            </div>
                                                            <span class="item-point">100</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                        <div class="card">
                                            <div class="card-detaile">
                                                <h3 class="card-title">Transformative</h3>
                                            </div>

                                            <div class="single-item-box">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                        <div class="card">
                                            <div class="card-detaile">
                                                <h3 class="card-title">Token</h3>
                                            </div>

                                            <div class="single-item-box">
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <div class="item-child">
                                                            <div class="item-head">
                                                                <h6>Transactions per second compared to other coins</h6>
                                                            </div>
                                                            <span class="item-point">1</span>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="item-child">
                                                            <div class="item-head">
                                                                <h6>What is their coin emission rate? Is the coin"s inflation under control?</h6>
                                                            </div>
                                                            <span class="item-point">30</span>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="item-child">
                                                            <div class="item-head">
                                                                <h6>Is the coin among the top traded coins for the past 3 months in terms of transaction volumes?</h6>
                                                            </div>
                                                            <span class="item-point">17</span>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="item-child">
                                                            <div class="item-head">
                                                                <h6>Is the coin among the top traded coins for the past 3 months in terms of market capitalization?</h6>
                                                            </div>
                                                            <span class="item-point">25</span>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="item-child">
                                                            <div class="item-head">
                                                                <h6>Has the coin outperformed the rest of the market trend since it started trading?</h6>
                                                            </div>
                                                            <span class="item-point">0</span>
                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                        <div class="card">
                                            <div class="card-detaile">
                                                <h3 class="card-title">Timing</h3>
                                            </div>

                                            <div class="single-item-box">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="nav-team-tab">

                        </div>

                        <div class="tab-pane fade" id="technology" role="tabpanel" aria-labelledby="nav-technology-tab">

                        </div>

                        <div class="tab-pane fade" id="theory" role="tabpanel" aria-labelledby="nav-theory-tab">

                        </div>

                        <div class="tab-pane fade" id="traction" role="tabpanel" aria-labelledby="nav-traction-tab">

                        </div>

                        <div class="tab-pane fade" id="tam" role="tabpanel" aria-labelledby="nav-tam-tab">

                        </div>

                        <div class="tab-pane fade" id="token" role="tabpanel" aria-labelledby="nav-token-tab">

                        </div>

                        <div class="tab-pane fade" id="timing" role="tabpanel" aria-labelledby="nav-timing-tab">

                        </div>

                        <div class="tab-pane fade" id="transfomative" role="tabpanel" aria-labelledby="nav-transfomative-tab">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>