<section>
  <div class="cust-container">
    <div class="under-row">
      <div class="coin-table">
        <div class="table-header">
          <div class="top-pagination">
            <div class="pagination-box">
              <span class="top-page-arrow">
                <a href="#">
                  <i class="fas fa-arrow-circle-left"></i>
                </a>
              </span>
              <h6 class="top-pag-count">Page 1 of 16</h6>
              <span class="top-page-arrow">
                <a href="#">
                  <i class="fas fa-arrow-circle-right"></i>
                </a>
              </span>
            </div>
          </div>

          <div class="table-filter">
            <div class="fiter-btn">
              <span>
                <a href="#" class="btn btn-filter" data-toggle="modal" data-target="#customize-table">Customize Table
                  <i class="fas fa-tasks"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="width-responsive">
          <div class="main-table home-table">
            <table id="coin-table" class="table table-responsive">
              <thead>
                <tr>
                  <th class="t-count">#</th>
                  <th class="t-name">Name</th>
                  <th class="t-coin-img" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorites">
                    <span class="crown-img">
                      <img src="../../assets/images/crown-white.svg">
                    </span>
                  </th>
                  <th class="t-price" data-toggle="tooltip" data-placement="top" title="" data-original-title="Price">Price</th>
                  <th class="t-7dprice" data-toggle="tooltip" data-placement="top" title="" data-original-title="7 Day Price">7 Day Price</th>
                  <th class="t-mrk-cap" data-toggle="tooltip" data-placement="top" title="" data-original-title="Market Cap">Mkt. Cap</th>
                  <th class="t-team" data-toggle="tooltip" data-placement="top" title="" data-original-title="Team">Team</th>
                  <th class="t-theory" data-toggle="tooltip" data-placement="top" title="" data-original-title="Theory">Theory.</th>
                  <th class="t-tech" data-toggle="tooltip" data-placement="top" title="" data-original-title="Technology">Tech.</th>
                  <th class="t-traction" data-toggle="tooltip" data-placement="top" title="" data-original-title="Traction">Traction</th>
                  <th class="t-tam" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tam">TAM</th>
                  <th class="t-token" data-toggle="tooltip" data-placement="top" title="" data-original-title="Token">Token</th>
                  <th class="t-timing" data-toggle="tooltip" data-placement="top" title="" data-original-title="Timing">Timing</th>
                  <th class="t-tran" data-toggle="tooltip" data-placement="top" title="" data-original-title="Trasformative">Tran.</th>
                  <th class="t-gq">GQ
                    <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="GQ"></i>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let coin of coindata">
                  <td class="t-count">{{coin.rank}}</td>
                  <td class="t-name">
                    <a href="{{base_url}}coins/{{coin.id}}">
                      <div class="coin-name">
                        <span class="coin-symbol">
                          <img class="img-fluid" src="../../assets/images/crypto-currency/{{coin.symbol | lowercase}}.svg" onError="this.src='../../assets/images/not-found.png';">
                        </span>

                        <span class="coin-name-text">
                          <h6>{{coin.name}}</h6>
                        </span>
                      </div>
                    </a>
                  </td>
                  <td class="t-coin-img">
                    <span class="crown-img">
                      <img src="../../assets/images/crown.svg" class="img-fluid" />
                    </span>
                  </td>
                  <td class="t-price">${{coin.price_usd | number : '1.0-2'}}</td>
                  <td class="t-7dprice" [chart]="chart"></td>
                  <td class="t-mrk-cap">${{coin.market_cap_usd | number : '1.0-2'}}</td>
                  <td class="t-team">{{coin.team}}</td>
                  <td class="t-theory">{{coin.theory}}</td>
                  <td class="t-tech">{{coin.technology}}</td>
                  <td class="t-traction">{{coin.traction}}</td>
                  <td class="t-tam">{{coin.tam}}</td>
                  <td class="t-token">{{coin.token}}</td>
                  <td class="t-timing">{{coin.timing}}</td>
                  <td class="t-tran">{{coin.transformative}}</td>
                  <td class="t-gq">
                    <div class="scoring-process" [style.width.%]="coin.gq">{{coin.gq}}</div>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="pagination">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <i class="fas fa-arrow-circle-left"></i>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <i class="fas fa-arrow-circle-right"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="customize-table" tabindex="-1" role="dialog" aria-labelledby="customize-table" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Customize Table</h5>
      </div>
      <div class="modal-body">
        <div class="costomize-model">
          <div class="costo-filter-note">
            <ul class="list-unstyled">
              <li>You can click and drag column headers to reorder columns (within the grid itself)</li>
              <li>You can resize columns (within the grid itself)</li>
              <li>Make sure to register/log in to your free account to save these settings between browsing sessions</li>
            </ul>
          </div>

          <div class="costo-table-column">
            <div class="title">
              <h4>Show/hide grid columns</h4>
            </div>

            <div class="costomize-column">
              <ul class="list-unstyled control-group">
                <li>
                  <label class="control control--checkbox">Mkt. Cap Rank (#)
                    <input type="checkbox" checked="checked" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Name
                    <input type="checkbox" checked="checked" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Followed
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Price in USD
                    <input type="checkbox" checked="checked" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Price in BTC
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Change 1h %
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Change 24h %
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Change 7d %
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Change 30d %
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Change 90d %
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Market Cap in USD
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Market Cap in BTC
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                  </label>
                </li>               
              </ul>

              <ul class="list-unstyled control-group">
                <li>
                  <label class="control control--checkbox">Mini-graphs 7d
                    <input type="checkbox" checked="checked" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">24h Vol in BTC
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">24h Vol in USD
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Action buttons
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Symbol
                    <input type="checkbox" checked="checked" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Circulating Supply
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Max. Supply
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Total Supply
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Age (months)
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">All time high in USD
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">All time high in BTC
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
              </ul>

              <ul class="list-unstyled control-group">
                <li>
                  <label class="control control--checkbox">% change from ATH
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">% change from ATH (BTC)
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Team
                    <input type="checkbox" checked="checked" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Theory
                    <input type="checkbox" checked="checked" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Technology
                    <input type="checkbox" checked="checked" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Traction
                    <input type="checkbox" checked="checked" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">TAM
                    <input type="checkbox" checked="checked" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Token
                    <input type="checkbox" checked="checked" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Timing
                    <input type="checkbox" checked="checked" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Trasformative
                    <input type="checkbox" checked="checked" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">GQ
                    <input type="checkbox" checked="checked" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div>
          <button type="button" class="btn btn-default">Reset</button>
        </div>
        <div>
          <button type="button" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>