<section>
  <div class="cust-container">
    <div class="under-row">
      <div class="coin-table">
        <div class="table-header">
          <div class="top-pagination">
            <div class="pagination-box">
              <span class="top-page-arrow">
                <a href="#">
                  <i class="fas fa-arrow-circle-left"></i>
                </a>
              </span>
              <h6 class="top-pag-count">Page 1 of 16</h6>
              <span class="top-page-arrow">
                <a href="#">
                  <i class="fas fa-arrow-circle-right"></i>
                </a>
              </span>
            </div>
          </div>

          <div class="table-filter">
            <div class="fiter-btn">
              <span>
                <a href="#" class="btn btn-filter" data-toggle="modal" data-target="#customize-table">Customize Table
                  <i class="fas fa-tasks"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="width-responsive" *ngIf="selectcol">
          <div class="main-table home-table">
            <div class="table">
              <div class="table-row fixed-row">
                <div class="cell t-count" data-toggle="tooltip" data-placement="top" title="" data-original-title="Rank" *ngIf="selectcol.rank">#</div>
                <div class="cell t-name" data-toggle="tooltip" data-placement="top" title="" data-original-title="Name" *ngIf="selectcol.name">Name</div>
                <div class="cell t-coin-img" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorites" *ngIf="selectcol.follow">
                  <span class="crown-img">
                    <img src="../../assets/images/crown-white.svg">
                  </span>
                </div>
              </div>
              
              <div class="table-row scrollable-row">
                <div>
                  <div class="cell t-symbol" data-toggle="tooltip" data-placement="top" title="" data-original-title="Symbol" *ngIf="selectcol.symbol">Symbol</div>
                  <div class="cell t-price" data-toggle="tooltip" data-placement="top" title="" data-original-title="Price" *ngIf="selectcol.price_usd">Price</div>
                  <div class="cell t-price_btc" data-toggle="tooltip" data-placement="top" title="" data-original-title="Price BTC" *ngIf="selectcol.price_btc">Price BTC</div>
                  <div class="cell t-change_1h" data-toggle="tooltip" data-placement="top" title="" data-original-title="Change 1H%" *ngIf="selectcol.change_1h">1H(%)</div>
                  <div class="cell t-change_24h" data-toggle="tooltip" data-placement="top" title="" data-original-title="Change 24H%" *ngIf="selectcol.change_24h">24H(%)</div>
                  <div class="cell t-change_7d" data-toggle="tooltip" data-placement="top" title="" data-original-title="Change 7D%" *ngIf="selectcol.change_7d">7D(%)</div>
                  <div class="cell t-change_30d" data-toggle="tooltip" data-placement="top" title="" data-original-title="Change 30D%" *ngIf="selectcol.change_30d">30D(%)</div>
                  <div class="cell t-one_year" data-toggle="tooltip" data-placement="top" title="" data-original-title="One year%" *ngIf="selectcol.one_year">1Y(%)</div>
                  <div class="cell t-all_time" data-toggle="tooltip" data-placement="top" title="" data-original-title="All time%" *ngIf="selectcol.all_time">All Time(%)</div>
                  <div class="cell t-7dprice" data-toggle="tooltip" data-placement="top" title="" data-original-title="7 Day Price" *ngIf="selectcol.graph_7d">7 Day Chart</div>
                  <div class="cell t-mrk-cap" data-toggle="tooltip" data-placement="top" title="" data-original-title="Market Cap" *ngIf="selectcol.mc_usd">Mkt. Cap</div>
                  <div class="cell t-mrk-cap_btc" data-toggle="tooltip" data-placement="top" title="" data-original-title="Market Cap in BTC" *ngIf="selectcol.mc_btc">Mkt. Cap BTC</div>
                  <div class="cell t-vol_24h_usd" data-toggle="tooltip" data-placement="top" title="" data-original-title="Volumn 24H USD" *ngIf="selectcol.vol_24h_usd">Volumn 24H</div>
                  <div class="cell t-vol_24h_btc" data-toggle="tooltip" data-placement="top" title="" data-original-title="Volumn 24H BTC" *ngIf="selectcol.vol_24h_btc">Vol. 24H BTC</div>                  
                  <div class="cell t-circu_supp" data-toggle="tooltip" data-placement="top" title="" data-original-title="Circulating Supply" *ngIf="selectcol.circu_supp">Circulating Supply</div>
                  <div class="cell t-max_supp" data-toggle="tooltip" data-placement="top" title="" data-original-title="Max Supply" *ngIf="selectcol.max_supp">Max Supply</div>
                  <div class="cell t-tot_supp" data-toggle="tooltip" data-placement="top" title="" data-original-title="Total Supply" *ngIf="selectcol.tot_supp">Total Supply</div>
                  <div class="cell t-age" data-toggle="tooltip" data-placement="top" title="" data-original-title="Age" *ngIf="selectcol.age">Age</div>
                  <div class="cell t-all_time_usd" data-toggle="tooltip" data-placement="top" title="" data-original-title="All time USD" *ngIf="selectcol.all_time_usd">ATH(USD)</div>
                  <div class="cell t-all_time_btc" data-toggle="tooltip" data-placement="top" title="" data-original-title="All time BTC" *ngIf="selectcol.all_time_btc">ATH(BTC)</div>
                  <div class="cell t-change_ath" data-toggle="tooltip" data-placement="top" title="" data-original-title="% change from ATH" *ngIf="selectcol.change_ath">% change from ATH</div>
                  <div class="cell t-change_ath_btc" data-toggle="tooltip" data-placement="top" title="" data-original-title="% change from ATH (BTC)" *ngIf="selectcol.change_ath_btc">% change from ATH (BTC)</div>
                  <div class="cell t-team" data-toggle="tooltip" data-placement="top" title="" data-original-title="Team" *ngIf="selectcol.team">Team</div>
                  <div class="cell t-theory" data-toggle="tooltip" data-placement="top" title="" data-original-title="Theory" *ngIf="selectcol.theory">Theory</div>
                  <div class="cell t-tech" data-toggle="tooltip" data-placement="top" title="" data-original-title="Technology" *ngIf="selectcol.technology">Tech.</div>
                  <div class="cell t-traction" data-toggle="tooltip" data-placement="top" title="" data-original-title="Traction" *ngIf="selectcol.traction">Traction</div>
                  <div class="cell t-tam" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tam" *ngIf="selectcol.tam">TAM</div>
                  <div class="cell t-token" data-toggle="tooltip" data-placement="top" title="" data-original-title="Token" *ngIf="selectcol.token">Token</div>
                  <div class="cell t-timing" data-toggle="tooltip" data-placement="top" title="" data-original-title="Timing" *ngIf="selectcol.timing">Timing</div>
                  <div class="cell t-tran" data-toggle="tooltip" data-placement="top" title="" data-original-title="Trasformative" *ngIf="selectcol.trasformative">Tran.</div>
                  <div class="cell t-gq" *ngIf="selectcol.gq">GQ
                    <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="GQ"></i>
                  </div>
                  <div class="cell t-ac_btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Action Button" *ngIf="selectcol.ac_btn">Action Button</div>
                </div>
              </div>  

              <div class="clearfix"></div>

              <div class="table-body">

                <div class="fixed-column">
                  <div  *ngFor="let coin of coindata">
                    <div class="cell t-count" *ngIf="selectcol.rank">{{coin.rank}}</div>
                    <div class="cell t-name" *ngIf="selectcol.name">
                      <a [routerLink]=" ['/coins/', coin.cc_id]">
                        <div class="coin-name">
                          <span class="coin-symbol">
                            <img class="img-fluid" src="../../assets/images/crypto-currency/{{coin.symbol | lowercase}}.svg" (error)="errorHandler($event,coin.symbol)">
                          </span>

                          <span class="coin-name-text">
                            <h6>{{coin.name}}</h6>
                          </span>
                        </div>
                      </a>
                    </div>
                    <div class="cell t-coin-img pointer" *ngIf="selectcol.follow">
                      <span class="crown-img" (click)="addtofavorite(coin.symbol)">
                        <img class="img-fluid img_{{coin.symbol}}" src="../../assets/images/crown-fill.svg" *ngIf="favoritedata[coin.symbol] == coin.symbol"/>
                        <img class="img-fluid img_{{coin.symbol}}" src="../../assets/images/crown.svg" *ngIf="favoritedata[coin.symbol] != coin.symbol"/>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="scrollable-column">
                  <div class="scroll-viewport">
                    <div class="scroll-container">
                      <div *ngFor="let coin of coindata">
                        <div class="cell t-symbol" *ngIf="selectcol.symbol">{{coin.symbol}}</div>
                        <div class="cell t-price" *ngIf="selectcol.price_usd">${{coin.price_usd | number : '1.0-2'}}</div>
                        <div class="cell t-price_btc" *ngIf="selectcol.price_btc">{{coin.price_btc}}</div>
                        <div class="cell t-change_1h" *ngIf="selectcol.change_1h" [ngClass]="coin.change_1h >= 0 ? 'text-green' : 'text-red'">{{coin.change_1h | number : '1.0-2'}}%</div>
                        <div class="cell t-change_24h" *ngIf="selectcol.change_24h" [ngClass]="coin.change_24h >= 0 ? 'text-green' : 'text-red'">{{coin.change_24h | number : '1.0-2'}}%</div>
                        <div class="cell t-change_7d" *ngIf="selectcol.change_7d" [ngClass]="coin.change_7d >= 0 ? 'text-green' : 'text-red'">{{coin.change_7d | number : '1.0-2'}}%</div>
                        <div class="cell t-change_30d" *ngIf="selectcol.change_30d" [ngClass]="coin.change_30d >= 0 ? 'text-green' : 'text-red'">{{coin.change_30d | number : '1.0-2'}}%</div>
                        <div class="cell t-one_year" *ngIf="selectcol.one_year" [ngClass]="coin.change_1y >= 0 ? 'text-green' : 'text-red'">{{coin.change_1y | number : '1.0-2'}}%</div>
                        <div class="cell t-all_time" *ngIf="selectcol.all_time" [ngClass]="coin.change_all >= 0 ? 'text-green' : 'text-red'">{{coin.change_all | number : '1.0-2'}}%</div>
                        <!-- <div class="cell t-7dprice" *ngIf="selectcol.graph_7d" [chart]="chart"></div> -->
                        <div class="cell t-7dprice" *ngIf="selectcol.graph_7d">
                          <span class="sparkliness1" sparkType="line" sparkBarColor="red"> {{coin.price_7d}} </span>
                        </div>
                        <div class="cell t-mrk-cap" *ngIf="selectcol.mc_usd">${{coin.marketcap_usd | number : '1.0-2'}}</div>
                        <div class="cell t-mrk-cap_btc" *ngIf="selectcol.mc_btc">{{coin.marketcap_btc | number : '1.0-2'}}</div>
                        <div class="cell t-vol_24h_usd" *ngIf="selectcol.vol_24h_usd">${{coin['volume24h_usd'] | number : '1.0-2'}}</div>
                        <div class="cell t-vol_24h_btc" *ngIf="selectcol.vol_24h_btc">{{coin.volume24h_btc}}</div>
                        <div class="cell t-circu_supp" *ngIf="selectcol.circu_supp">{{coin.circulating_supply}}</div>
                        <div class="cell t-max_supp" *ngIf="selectcol.max_supp">{{coin.max_supply}}</div>
                        <div class="cell t-tot_supp" *ngIf="selectcol.tot_supp">{{coin.total_supply}}</div>
                        <div class="cell t-age" *ngIf="selectcol.age">{{coin.age != null ? coin.age : '-'}}</div>
                        <div class="cell t-all_time_usd" *ngIf="selectcol.all_time_usd">{{coin.alltime_high_usd != null ? '$'+coin.alltime_high_usd : '-'}}</div>
                        <div class="cell t-all_time_btc" *ngIf="selectcol.all_time_btc">{{coin.alltime_high_btc != null ? coin.alltime_high_btc : '-'}}</div>
                        <div class="cell t-change_ath" *ngIf="selectcol.change_ath">% ATH</div>
                        <div class="cell t-change_ath_btc" *ngIf="selectcol.change_ath_btc">% BTC</div>
                        <div class="cell t-team" *ngIf="selectcol.team">{{coin.team}}</div>
                        <div class="cell t-theory" *ngIf="selectcol.theory">{{coin.theory}}</div>
                        <div class="cell t-tech" *ngIf="selectcol.technology">{{coin.technology}}</div>
                        <div class="cell t-traction" *ngIf="selectcol.traction">{{coin.traction}}</div>
                        <div class="cell t-tam" *ngIf="selectcol.tam">{{coin.tam}}</div>
                        <div class="cell t-token" *ngIf="selectcol.token">{{coin.token}}</div>
                        <div class="cell t-timing" *ngIf="selectcol.timing">{{coin.timing}}</div>
                        <div class="cell t-tran" *ngIf="selectcol.trasformative">{{coin.transformative}}</div>
                        <div class="cell t-gq" *ngIf="selectcol.gq">
                          <div class="scoring-process" [style.width.%]="coin.algo_score != null ? coin.algo_score : '0'">{{coin.algo_score | number:'1.0-0'}}</div>
                        </div>
                        <div class="cell t-ac_btn" *ngIf="selectcol.ac_btn">Action Button</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="clearfix"></div>
              </div>
            </div>


            <div class="pagination">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <i class="fas fa-arrow-circle-left"></i>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <i class="fas fa-arrow-circle-right"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="customize-table" tabindex="-1" role="dialog" aria-labelledby="customize-table" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Customize Table</h5>
      </div>
      <div class="modal-body">
        <div class="costomize-model">
          <div class="costo-filter-note">
            <ul class="list-unstyled">
              <li>You can click and drag column headers to reorder columns (within the grid itself)</li>
              <li>You can resize columns (within the grid itself)</li>
              <li>Make sure to register/log in to your free account to save these settings between browsing sessions</li>
            </ul>
          </div>

          <div class="costo-table-column">
            <div class="title">
              <h4>Show/hide grid columns</h4>
            </div>

            <div class="costomize-column" *ngIf="selectcol">
              <ul class="list-unstyled control-group">
                <li>
                  <label class="control control--checkbox">Mkt. Cap Rank (#)
                    <input type="checkbox" class="check_rank" (click)="addremovecol('rank')" [attr.checked]="selectcol.rank == 'rank' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Name
                    <input type="checkbox" class="check_name" (click)="addremovecol('name')" [attr.checked]="selectcol.name == 'name' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Symbol
                    <input type="checkbox" class="check_symbol" (click)="addremovecol('symbol')" [attr.checked]="selectcol.symbol == 'symbol' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Followed
                    <input type="checkbox" class="check_follow" (click)="addremovecol('follow')" [attr.checked]="selectcol.follow == 'follow' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Price in USD
                    <input type="checkbox" class="check_price_usd" (click)="addremovecol('price_usd')" [attr.checked]="selectcol.price_usd == 'price_usd' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Price in BTC
                    <input type="checkbox" class="check_price_btc" (click)="addremovecol('price_btc')" [attr.checked]="selectcol.price_btc == 'price_btc' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Change 1h %
                    <input type="checkbox" class="check_change_1h" (click)="addremovecol('change_1h')" [attr.checked]="selectcol.change_1h == 'change_1h' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Change 24h %
                    <input type="checkbox" class="check_change_24h" (click)="addremovecol('change_24h')" [attr.checked]="selectcol.change_24h == 'change_24h' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Change 7d %
                    <input type="checkbox" class="check_change_7d" (click)="addremovecol('change_7d')" [attr.checked]="selectcol.change_7d == 'change_7d' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Change 30d %
                    <input type="checkbox" class="check_change_30d" (click)="addremovecol('change_30d')" [attr.checked]="selectcol.change_30d == 'change_30d' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">One year %
                    <input type="checkbox" class="check_one_year" (click)="addremovecol('one_year')" [attr.checked]="selectcol.one_year == 'one_year' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">All time %
                    <input type="checkbox" class="check_all_time" (click)="addremovecol('all_time')" [attr.checked]="selectcol.all_time == 'all_time' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
              </ul>

              <ul class="list-unstyled control-group">
                <li>
                  <label class="control control--checkbox">Mini-graphs 7d
                    <input type="checkbox" class="check_graph_7d" (click)="addremovecol('graph_7d')" [attr.checked]="selectcol.graph_7d == 'graph_7d' ? 'checked' : null"
                    />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Market Cap in USD
                    <input type="checkbox" class="check_mc_usd" (click)="addremovecol('mc_usd')" [attr.checked]="selectcol.mc_usd == 'mc_usd' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Market Cap in BTC
                    <input type="checkbox" class="check_mc_btc" (click)="addremovecol('mc_btc')" [attr.checked]="selectcol.mc_btc == 'mc_btc' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">24h Vol in BTC
                    <input type="checkbox" class="check_vol_24h_btc" (click)="addremovecol('vol_24h_btc')" [attr.checked]="selectcol.vol_24h_btc == 'vol_24h_btc' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">24h Vol in USD
                    <input type="checkbox" class="check_vol_24h_usd" (click)="addremovecol('vol_24h_usd')" [attr.checked]="selectcol.vol_24h_usd == 'vol_24h_usd' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Circulating Supply
                    <input type="checkbox" class="check_circu_supp" (click)="addremovecol('circu_supp')" [attr.checked]="selectcol.circu_supp == 'circu_supp' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Max. Supply
                    <input type="checkbox" class="check_max_supp" (click)="addremovecol('max_supp')" [attr.checked]="selectcol.max_supp == 'max_supp' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Total Supply
                    <input type="checkbox" class="check_tot_supp" (click)="addremovecol('tot_supp')" [attr.checked]="selectcol.tot_supp == 'tot_supp' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Age (months)
                    <input type="checkbox" class="check_age" (click)="addremovecol('age')" [attr.checked]="selectcol.age == 'age' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">All time high in USD
                    <input type="checkbox" class="check_all_time_usd" (click)="addremovecol('all_time_usd')" [attr.checked]="selectcol.all_time_usd == 'all_time_usd' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">All time high in BTC
                    <input type="checkbox" class="check_all_time_btc" (click)="addremovecol('all_time_btc')" [attr.checked]="selectcol.all_time_btc == 'all_time_btc' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">% change from ATH
                    <input type="checkbox" class="check_change_ath" (click)="addremovecol('change_ath')" [attr.checked]="selectcol.change_ath == 'change_ath' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
              </ul>

              <ul class="list-unstyled control-group">
                <li>
                  <label class="control control--checkbox">% change from ATH (BTC)
                    <input type="checkbox" class="check_change_ath_btc" (click)="addremovecol('change_ath_btc')" [attr.checked]="selectcol.change_ath_btc == 'change_ath_btc' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Team
                    <input type="checkbox" class="check_team" (click)="addremovecol('team')" [attr.checked]="selectcol.team == 'team' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Theory
                    <input type="checkbox" class="check_theory" (click)="addremovecol('theory')" [attr.checked]="selectcol.theory == 'theory' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Technology
                    <input type="checkbox" class="check_technology" (click)="addremovecol('technology')" [attr.checked]="selectcol.technology == 'technology' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Traction
                    <input type="checkbox" class="check_traction" (click)="addremovecol('traction')" [attr.checked]="selectcol.traction == 'traction' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">TAM
                    <input type="checkbox" class="check_tam" (click)="addremovecol('tam')" [attr.checked]="selectcol.tam == 'tam' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Token
                    <input type="checkbox" class="check_token" (click)="addremovecol('token')" [attr.checked]="selectcol.token == 'token' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Timing
                    <input type="checkbox" class="check_timing" (click)="addremovecol('timing')" [attr.checked]="selectcol.timing == 'timing' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Trasformative
                    <input type="checkbox" class="check_trasformative" (click)="addremovecol('trasformative')" [attr.checked]="selectcol.trasformative == 'trasformative' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">GQ
                    <input type="checkbox" class="check_gq" (click)="addremovecol('gq')" [attr.checked]="selectcol.gq == 'gq' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
                <li>
                  <label class="control control--checkbox">Action buttons
                    <input type="checkbox" class="check_ac_btn" (click)="addremovecol('ac_btn')" [attr.checked]="selectcol.ac_btn == 'ac_btn' ? 'checked' : null" />
                    <div class="control__indicator"></div>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div>
          <button type="button" class="btn btn-default" (click)="resetcolumn()">Reset</button>
        </div>
        <div>
          <button type="button" class="btn btn-primary" (click)="savecolumn()">Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>